<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/displayliveinfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cb4c646331.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="hack">
        <a href="liveinfo" class="back" style="text-decoration:none;"><i class="fas fa-backward" ></i> BACK</a>
      </div>
    <h1>Stock Information</h1>
    <h2>Company Name :</h2>
    <p id="companyname"></p>
    <h2>instrument Token :</h2>
    <p id="instrumenttoken"></p>
    <h2>Open :</h2><p id="open"></p> <h2>high :</h2><p id="high"></p> <h2>Low :</h2> <p id="low"></p><h2>Close :</h2><p id="close"></p>
    <h2>Last Price :</h2><p id="lastprice"></p>
    <h2>Quantity :</h2><p id="quantity"></p>
    <h2>Volume :</h2><p id="volume"></p>
    <input type="file" id="uploadfile" accept=".csv">
    <button id="uploadconfirm">Upload File</button>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>
    <script>
        const uploadconfirm=document.getElementById('uploadconfirm').addEventListener('click',()=>{
            Papa.parse(document.getElementById('uploadfile').files[0],                                                                                                                                                                                                                                                                                                                                                                                                                          
            {
                download: true,
                header:false,
                skipEmptyLines : true,
                complete: function(results){
                    console.log(results.data.length);
                    console.log(results.data[results.data.length-1]);
                    document.getElementById('companyname').innerHTML=results.data[0][0]
                    document.getElementById('instrumenttoken').innerHTML=results.data[0][1]
                    document.getElementById('lastprice').innerHTML=results.data[0][2]
                    document.getElementById('quantity').innerHTML=results.data[0][3]
                    document.getElementById('volume').innerHTML=results.data[0][4]
                    document.getElementById('open').innerHTML=results.data[0][5]
                    document.getElementById('high').innerHTML=results.data[0][6]
                    document.getElementById('low').innerHTML=results.data[0][7]
                    document.getElementById('close').innerHTML=results.data[0][8]
                }
                
            })
        })




    //    fetch('./liveinfo.csv')
    //         .then(dataWrappedByPromise => dataWrappedByPromise.text())
    //         .then(data => {
    //     console.log("data:"+data)
        // document.getElementById("boughtAt").innerHTML=data;
       
        
        //});
//var data = $.csv.toObjects(liveinfo.csv);
//         const response = fetch('liveinfo.csv')
//    .then(response => response.text())
//    .then(v => Papa.parse(v))
//    .catch(err => console.log(err))

// response.then(v => console.log(v))
//          getData();
//  async function getData(){
//        const response= await fetch('../../liveinfo.csv');  
//        const data= await response.text();
//        console.log(data);
//        const table= data.split('\n');
//        const l=table.length-1;
//        const p=table.slice(1)
//        console.log(p);
    //   table.forEach(row=>{
    //     const columns=row.split(',')
    //     const date= columns[0];
    //     datedata.push(date);
    //     const open= columns[1];
    //     opendata.push(parseFloat(open));
    //     const high= columns[2];
    //     highdata.push(parseFloat(high));
    //     const low= columns[3];
    //     lowdata.push(parseFloat(low));
    //     const close= columns[4];
    //     closedata.push(parseFloat(close));
    //     console.log( open, high, low, close)
    //   });
    //}


    //    const data= fetch('liveinfo.csv');
    //   console.log(data);
    //   const table= data.split('\n');
    //    const l=table.length;
    //    const p=table.slice(l-1)
    //    console.log(p);
        // const columns=row.split(',')
        // const date= columns[0];
        // datedata.push(date);
        // const open= columns[1];
        // opendata.push(parseFloat(open));
        // const high= columns[2];
        // highdata.push(parseFloat(high));
        // const low= columns[3];
        // lowdata.push(parseFloat(low));
        // const close= columns[4];
        // closedata.push(parseFloat(close));
        // console.log( open, high, low, close)
    </script>
</body>
</html>