<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="CSS/liveinfo.css">
    <script src="https://kit.fontawesome.com/cb4c646331.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <img src="reliance.png" class="rel img" alt="">
    <img src="tata.png" class="tata img" alt="">
    <img src="icici.png" alt="" class="icici img"> 
    <div class="hack">
        <a href="profile" class="back" style="text-decoration:none;"><i class="fas fa-backward" ></i> HOME</a>
      </div>
    <h1>Get the Information about your desired<span> company's stock.</span></h1> 
    <p>Provides all the necessary details of stocks such as live stock price, the opening price and closing price of the previous day.</p>
    
    <form class="" action="/new" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <div class="A">
      <input type="text" name="hehe" placeholder="Search Markets here">


    </div>
    <button type="submit"  class="butn">
      <img src="search.png" alt="" class="k">
    </button>
    </form>

  </body>
</html>
