<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="CSS/styles.css">
    <meta charset="utf-8">
    <title></title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <!-- //font awesome -->
    <script src="https://kit.fontawesome.com/cb4c646331.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="a1 gol">
      <table>
        <td> <img src="/reliance.png" class="relimg" alt=""> </td>
        <td><h1>reliance</h1><p>NSE:RELIANCE</p></td>
      </table>
      </div>
    <div class="b1 gol">
        <table>
          <td> <img src="/tata.png" class="tataimg" alt=""> </td>
          <td><h1>tatapower</h1><p>NSE:TATAPOWER</p></td>
        </table>
    </div>
    <div class="c1 gol"> <table>
      <td> <img src="/icici.png" alt="" class="iciciimg"> </td>
      <td> <h1>icicibank</h1><p>NSE:ICICIBANK</p></td>
    </table></div>

    <div id="main">


      <div id="box1"></div>
      <div class="logu">
        <i class="fab fa-uncharted FA"></i>
      </div>
      <div id="box2">
        <div id="text">
          <span>D</span>AILY    <i class="far fa-chart-bar gif"></i><br><span>C</span>HARTS.
        </div>
      </div>

      <div id="box3">
        <div id="container">
          <div id="logo">
            <img src="/public/CSS/1_pblr2h.png" alt="">
          </div>
          <div id="menu">
            <ul>
              <li class="nav"><a href="chart" class="a">Charts</a></li>
              <li class="nav"><a href="liveinfo" class="a">Live Info</a></li>
              <li class="nav"><a href="trade" class="a">Trade</a></li>
              <li class="nav"><a href="balance" class="a">Capital</a></li>
              <li class="nav"><a href="AboutUs-master/AboutUs.html" class="a">About</a></li>
              <li class="signuplogin"><button type="button" class="lgn"">
                <i class="fas fa-user"></i>
              </button></li>
              <li class="signuplogin"><button type="button" class="btn">
                <h3>Start Free Trial</h3>
              </button></li>
            </ul>




          </div>
        </div>
      </div>
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function() {
        $(".arrow").delay(1000).fadeIn(500);

    });

    </script>
  </body>

</html>
